In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("tokenized.csv")
df = df.drop(["Unnamed: 0"], axis=1)
df.head()

,title,text,label,title_tokenize,text_tokenize,title_tokenize_str,text_tokenize_str
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0,"['smell', 'hillarys', 'fear']","['daniel', 'greenfield', 'shillman', 'journali...",smell hillarys fear,daniel greenfield shillman journalism fellow f...
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0,"['watch', 'exact', 'moment', 'paul', 'ryan', '...","['google', 'pinterest', 'digg', 'linkedin', 'r...",watch exact moment paul ryan committed politic...,google pinterest digg linkedin reddit stumbleu...
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1,"['kerry', 'go', 'paris', 'gesture', 'sympathy']","['us', 'secretary', 'state', 'john', 'f', 'ker...",kerry go paris gesture sympathy,us secretary state john f kerry said monday st...
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0,"['bernie', 'supporters', 'twitter', 'erupt', '...","['kaydee', 'king', 'kaydeeking', 'november', '...",bernie supporters twitter erupt anger dnc trie...,kaydee king kaydeeking november lesson tonight...
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1,"['battle', 'new', 'york', 'primary', 'matters']","['primary', 'day', 'new', 'york', 'frontrunner...",battle new york primary matters,primary day new york frontrunners hillary clin...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               6335 non-null   object
 1   text                6335 non-null   object
 2   label               6335 non-null   int64
 3   title_tokenize      6335 non-null   object
 4   text_tokenize       6335 non-null   object
 5   title_tokenize_str  6334 non-null   object
 6   text_tokenize_str   6298 non-null   object
dtypes: int64(1), object(6)
memory usage: 346.6+ KB

In [5]:
df.isnull().sum()

title                  0
text                   0
label                  0
title_tokenize         0
text_tokenize          0
title_tokenize_str     1
text_tokenize_str     37
dtype: int64

In [6]:
df = df.dropna()

In [7]:
# Tf-idf in Title, Text
from sklearn.feature_extraction.text import TfidfVectorizer

# Create tf-idf model
vectorizer = TfidfVectorizer()

In [8]:
title_idf = vectorizer.fit_transform(df["title_tokenize_str"])
text_idf = vectorizer.fit_transform(df["text_tokenize_str"])

In [16]:
data = pd.DataFrame({"title_idf": tit})
data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'toarray'

In [ ]:
dataTF = pd.DataFrame({
    "title_idf": title_idf.toarray().tolist(),
    "text_idf": text_idf.toarray().tolist(),
    "label" : df["label"]
})
dataTF.head()

In [11]:
dataTF["label"] = df["label"].values

In [12]:
dataTF.head()

,title_idf,text_idf,label
0,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",0
1,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",0
2,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1
3,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",0
4,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1

In [13]:
dataTF.to_csv("tf_idf.csv")