In [41]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv("tf_idf.csv")
df.head()

   Unnamed: 0                  title_idf                   text_idf  label
0           0  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
1           1  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
2           2  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      1
3           3  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
4           4  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      1

In [43]:
df = df.dropna()
df = df.drop(["Unnamed: 0"],axis=1)

In [44]:
df.head()

                   title_idf                   text_idf  label
0  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
1  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
2  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      1
3  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
4  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      1

In [39]:
df1 = df.copy()
df1['title_idf'] = df1['title_idf'].apply(lambda x: x[0] if isinstance(x, np.ndarray) and x.ndim == 2 else x)
df1.head()

                   title_idf                   text_idf  label
0  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
1  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
2  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      1
3  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      0
4  [[0. 0. 0. ... 0. 0. 0.]]  [[0. 0. 0. ... 0. 0. 0.]]      1

In [14]:
from sklearn.model_selection import train_test_split

# Features (TF_IDF vectorized text and title) and labels
X = df[["title_idf", "text_idf"]]
y = df["label"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout
from keras.preprocessing.sequence import pad_sequences

In [20]:
#Pad sequences to a fixed length for both title and text features
max_sequence_length = max(X_train["title_idf"].apply(len).max(), X_train["text_idf"].apply(len).max())

In [32]:
X_train_title_padded = pad_sequences(np.array(X_train["title_idf"].tolist()), maxlen=max_sequence_length)

ValueError: invalid literal for int() with base 10: '[[0. 0. 0. ... 0. 0. 0.]]'

In [31]:
print(X_train["title_idf"].head())

6053    [[0. 0. 0. ... 0. 0. 0.]]
5674    [[0. 0. 0. ... 0. 0. 0.]]
505     [[0. 0. 0. ... 0. 0. 0.]]
4564    [[0. 0. 0. ... 0. 0. 0.]]
272     [[0. 0. 0. ... 0. 0. 0.]]
Name: title_idf, dtype: object

In [23]:
X_train["title_idf"]

6053    [[0. 0. 0. ... 0. 0. 0.]]
5674    [[0. 0. 0. ... 0. 0. 0.]]
505     [[0. 0. 0. ... 0. 0. 0.]]
4564    [[0. 0. 0. ... 0. 0. 0.]]
272     [[0. 0. 0. ... 0. 0. 0.]]
                  ...
3772    [[0. 0. 0. ... 0. 0. 0.]]
5191    [[0. 0. 0. ... 0. 0. 0.]]
5226    [[0. 0. 0. ... 0. 0. 0.]]
5390    [[0. 0. 0. ... 0. 0. 0.]]
860     [[0. 0. 0. ... 0. 0. 0.]]
Name: title_idf, Length: 5037, dtype: object